.checkout-order-info-section__product-item {
  display: flex;
  width: 100%;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.product-item__count {
  font-family: Lato, sans-serif;
  font-size: calc(14px) !important; /*materialui-override*/
  font-weight: 700 !important; /*materialui-override*/
  color: white;
}
.product-item__count-x {
  font-family: Lato, sans-serif;
  font-size: calc(14px) !important; /*materialui-override*/
  font-weight: 400 !important; /*materialui-override*/
  color: white;
  margin: 0px 12px;
}
.product-item__title {
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: white;
  margin-right: 15px;
}
.product-item__price {
  font-family: Lato, sans-serif;
  font-size: calc(14px);
  font-weight: 400;
  color: white;
  margin-left: auto !important; /*materialui-override*/
}
