.checkout-cart-wrapper {
  width: 270px;
  flex-shrink: 0;
  padding-top: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 20px;
}
.checkout-order-info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-order-info-section__title {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.checkout-order-info-section__product-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 0px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 15px;
}
hr {
  border-top: 2px solid white;
}
.checkout-cart-calculation-section {
  margin-top: 20px;
  border-top: 1px solid rgb(230, 230, 230);
  padding: 20px 15px 0px;
}
.checkout-cart-calculation-section__text-wrapper {
  display: flex;
  width: 100%;
  color: white;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .checkout-cart-wrapper {
    order: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative !important;
  }
  .checkout-order-info-section__product-wrapper {
    min-height: 0px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .checkout-cart-wrapper {
    width: 260px;
  }
}
