.checkout-form-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 470px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid white;
  padding: 20px;
  min-height: 0px;
  max-height: 4700px;
  min-width: 15rem;
  max-width: 45rem;
  box-shadow: 1px 1px 12px 1px #00000070;
}
.checkout-form-wrapper__title {
  border-bottom: 2px solid var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}
.checkout-btn {
  bottom: 1px;
  left: 0px;
  right: 0px;
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: inherit;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  width: 100%;
  border-image: initial;
}
.checkout-btn:hover {
  color: rgb(255, 255, 255);
  background-color: var(--primary-color-hover);
}

.checkout-btn:disabled {
  cursor: not-allowed;
  color: rgb(255, 255, 255);
  background-color: rgb(115 121 120) !important;
}

.focus-visible {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 158, 127, 0.5) !important;
}

.StripeCheckout {
  background: transparent !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 48px !important;
  z-index: 999;
  position: absolute;
  bottom: 0;
}

.StripeCheckout > span {
  color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

@media (max-width: 767px) {
  .checkout-form-wrapper {
    margin-top: 1rem;
    order: 1;
    margin-right: 0px;
    height: 40rem;
  }
}
@media (min-width: 990px) {
  .checkout-form-wrapper {
    margin-right: 10px;
  }
}
