.navbar-wrapper {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
  padding: 30px 60px;
  background-color: rgb(255, 255, 255);
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.navbar-logo {
  margin-right: auto;
  cursor: pointer;
}
.navbar-logo > a > img {
  max-width: 150px;
  backface-visibility: hidden;
  display: block;
}

.navbar-right-btns {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.navbar-right-btns__add-product-btn {
  background-color: rgb(0, 197, 141);
  color: rgb(255, 255, 255);
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 24px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 200ms;
  transition-property: background;
  appearance: none;
  text-decoration: none;
  box-shadow: none;
  outline-offset: -3px;
  outline: none;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  flex-direction: row;
  display: inline-flex;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.navbar-right-avatar {
  flex-shrink: 0;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  margin-left: 20px;
}
