:root {
  /* --primary-color: rgb(0, 158, 127); */
  --primary-color: rgb(158 0 95);
  --primary-color-hover: rgb(158 0 95 / 74%);
}
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: none !important;
}

.block {
  height: 41px;
  width: 124px;
  outline: none;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px #00000061;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-left: 8px;
  font-size: 24px;
}

.focus-visible {
  outline: none;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Toastr override css */
.toast-error {
  background-color: red !important;
}
.toast-success {
  background-color: green !important;
}
