.slider__rightArrow {
  height: 40px;
  width: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -20px;
  z-index: 99;
  padding: 0px;
  border-radius: 20px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}

.slider__leftArrow {
  height: 40px;
  width: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -20px;
  z-index: 99;
  padding: 0px;
  border-radius: 20px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.carouselPadding {
  margin-top: -10rem;
}
.carousel-item-padding-40-px {
  justify-content: center !important;
  display: flex !important;
}
.react-multi-carousel-item {
  text-align: center !important;
}

@media (max-width: 767px) {
  .carouselPadding {
    margin-top: 0rem !important;
  }
}
