.sidebar-wrapper {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 270px;
  flex-shrink: 0;
  height: auto;
  display: flex;
}
.sidebar-container {
  overflow-y: auto;
  padding: 45px 0px;
  -webkit-box-align: end;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
}
.sidebar-container > span {
  transition: all 0.15s ease-in-out 0s;
  padding: 20px 55px 20px 30px;
  width: calc(100% - 30px);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: rgb(22, 31, 106);
  outline: 0px;
  align-items: center;
  display: flex;
}
.sidebar-container > span > a {
  margin-left: 15px;
  width: 16px;
  align-items: center;
  display: flex;
  color: black;
}
.sidebar-container > span > a:hover {
  text-decoration: none !important;
  color: rgb(0, 197, 141) !important;
}
.sidebar-active {
  color: rgb(0, 197, 141) !important;
  background-color: rgb(247, 247, 247);
  border-radius: 50px 0px 0px 50px;
}

.sidebar-divider {
  width: 100%;
}
