.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 99999;
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navItem___active {
  color: var(--primary-color) !important;
  font-weight: 500;
}
.navbar__togglebtn {
  background-color: var(--primary-color) !important;
}
.search-btn {
  position: absolute;
  right: 6rem;
  display: none;
  color: black;
}
.navbar-logo-first-half {
  font-size: 31px;
  font-weight: 500;
  margin-right: 5px;
}
.navbar-logo-second-half {
  font-size: 31px;
  font-weight: 500;
  color: var(--primary-color);
}
.navbar-nav__joinbtn {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  appearance: none;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center !important;
  -webkit-box-pack: center;
  justify-content: center !important;
  flex-shrink: 0;
  text-align: center;
  height: 38px;
  font-family: inherit;
  color: rgb(255, 255, 255) !important;
  background-color: var(--primary-color) !important;
  transition: all 0.3s ease 0s !important;
  border-radius: 6px !important;
  text-decoration: none !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
}
.nav-avatar-on-Collapse {
  display: none !important;
}
input[type="search" i] {
  appearance: searchfield;
  box-sizing: border-box;
  padding: 1px 2px;
}

@media (max-width: 991px) and (min-width: 200px) {
  .search-btn {
    display: block !important;
    top: 1rem;
    right: 6rem;
  }

  .nav-avatar {
    display: none !important;
  }
  .search-btn__nav-avatar {
    right: 8rem !important;
  }
  .nav-avatar-on-Collapse {
    display: block !important;
    position: absolute;
    top: 3px;
    right: 4rem;
  }
  .nav-avatar-on-Collapse .popover-content {
    position: absolute;
    top: 4rem;
    right: 0rem;
  }
}
