.side-bar-style {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 0;
  max-height: 688px;
}

.side-bar-style__inner {
  position: relative;
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  min-height: 17px;
  max-height: 705px;
  margin-left: 0px;
}
