.side-bar__content {
  margin-bottom: 15px;
  padding-left: 0px;
  position: relative;
  overflow-x: hidden;
}
.side-bar__header {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 12px;
  color: rgb(13, 17, 54);
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  padding: 5px 0px;
  outline: 0px;
}

.side-bar__title {
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  font-weight: 400;
}

.side-bar__dropdown-btn-arrow-right {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: inherit;
  background-color: transparent;
  border-radius: 6px;
  text-decoration: none;
  border-width: 0px;
  transform: rotate(270deg);
  transition: transform 0.3s ease 0s;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  color: rgb(58 59 63 / 82%);
  margin-left: auto;
  height: auto;
  font-size: 13px;
  padding: 0px 5px;
  transition: transform 0.3s ease 0s;
}
.subCategory-wrapper {
  will-change: transform, opacity, height;
  border-left: 0px;
  overflow: hidden;
  opacity: 1;
  height: 90px;
}
.subCategory-header {
  margin-bottom: 10px;
  padding-left: 32px;
  position: relative;
  overflow-x: hidden;
}

.subCategory-header > header {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0px;
  color: rgb(119, 121, 140);
  cursor: pointer;
  margin-left: -10px;
  transition: all 0.15s ease-in-out 0s;
  padding: 5px 10px;
  border-radius: 6px;
  outline: 0px;
}

.subCategory__title {
  color: rgb(13, 17, 54);
  text-transform: capitalize;
}
.subCategory__title:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.subCategory__title-active {
  color: var(--primary-color) !important;
}

.subCategory-header > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
}
.side-bar__header:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.side-bar-icon {
  margin-right: 20px;
}
.side-bar__dropdown-btn-arrow-right:focus {
  outline: none !important;
}
.side-bar__header:hover .side-bar__dropdown-btn-arrow-right {
  color: var(--primary-color);
  cursor: pointer;
}

.side-bar__dropdown-btn-arrow-down {
  transform: rotate(360deg);
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
