.popover-handler {
  display: block;
  cursor: pointer;
  padding: 15px;
}

.sidebarstyle__popover-handler {
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.pop-over-handler__icon {
  padding: 0 10px;
}
.pop-over-handler__dropdownarrow {
  position: absolute;
  right: 1rem;
}
