.checkout-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  padding: 70px 60px 60px;
  background-color: rgb(247, 247, 247);
}
.checkout-container {
  width: 100%;
  display: flex;
  counter-reset: section-counter 0;
}
@media (max-width: 767px) {
  .checkout-container {
    flex-direction: column;
  }
  .checkout-wrapper {
    height: 100%;
  }
}
@media (min-width: 990px) {
  .checkout-container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
  .checkout-form-wrapper {
    margin-right: 10px;
  }
}
