.login-wrapper {
  background-color: rgb(241, 241, 241);
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.login-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 3px;
  width: 470px;
  background-color: rgb(255, 255, 255);
}
.login-container > form {
  display: block;
  margin-top: 0em;
}
.login-header {
  margin: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
  width: 100%;
}
.login-header__logo-wrapper {
  margin-bottom: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.login-header__logo-wrapper > img {
  display: block;
  max-width: 150px;
}
.login-header__heading {
  text-align: center;
  color: rgb(22, 31, 106);
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}
.login-form-wrapper {
  margin: 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  display: flex;
}
.login-form__label {
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(22, 31, 106);
  line-height: 1.5;
  font-size: 14px;
}

.login-input-wrapper {
  color: rgb(0, 0, 0);
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
  display: flex;
}
.login-input-container {
  background-color: rgb(238, 238, 238);
  border-bottom-color: rgb(238, 238, 238);
  border-top-color: rgb(238, 238, 238);
  border-right-color: rgb(238, 238, 238);
  border-left-color: rgb(238, 238, 238);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
  transition-duration: 200ms;
  transition-property: border, background-color;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  font-family: Lato, sans-serif;
  width: 100%;
  display: flex;
}
.login-input-container > input {
  caret-color: rgb(0, 0, 0);
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  cursor: text;
  max-width: 100%;
  outline: none;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: rgb(22, 31, 106);
  line-height: 1.5;
  font-family: Lato, sans-serif;
  width: 100%;
}

.login-input__show-password {
  padding-right: 12px;
  padding-left: 12px;
  background: none;
  outline: none;
  border: none;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: rgb(0, 0, 0);
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.login-form__submit-btn {
  background-color: rgb(84, 84, 84);
  background-color: rgb(0, 189, 135);
  background-color: rgb(0, 197, 141);
  color: rgb(255, 255, 255);
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-right: 0px;
  margin-left: auto;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-property: background;
  appearance: none;
  text-decoration: none;
  box-shadow: none;
  outline-offset: -3px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  display: inline-flex;
  outline: none;
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  transition-duration: 200ms;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Lato, sans-serif;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
