.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  padding-right: 0px;
  transition: padding-right 0.35s ease-in-out 0s;
}

.side-bar-category {
  background-color: rgb(255, 255, 255);
  width: 280px;
}
.side-bar-category__wrapper {
  position: relative;
  width: 100%;
}

.popover-wrapper {
  display: none;
  position: relative;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popover-wrapper {
    display: block;
  }
}
@media (max-width: 990px) {
  .side-bar-category {
    display: none;
  }
}
