.search-bar__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  border: none;
}
.search-bar__backbtn {
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background: transparent;
  padding: 0px 15px;
}
.search-bar__form {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: calc(100% - 60px);
  color: rgb(119, 121, 140);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  overflow: hidden;
}
.search-bar-form__inputfield {
  color: rgb(13, 17, 54);
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 15px;
  height: 48px;
  background-color: inherit;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.search-bar-form__box {
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--primary-color);
  background-color: rgb(247, 247, 247);
  white-space: nowrap;
  text-transform: capitalize;
  border-radius: 6px;
  margin: 5px;
}
.search-bar-form__searchbtn {
  color: rgb(13, 17, 54);
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
