.header__backgroundimg {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
}
.header__heading {
  font-size: 17px;
  color: rgb(13, 17, 54);
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}
.header__substitle {
  font-size: 15px;
  color: rgb(119, 121, 140);
  display: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.form-inline {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 700px;
  color: rgb(119, 121, 140);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 21px 36px;
  border-radius: 6px;
  overflow: hidden;
}
.submit-btn {
  outline: none;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  flex-shrink: 0;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.search-icon {
  position: relative;
  right: 10px;
}
.input-group__searchbar {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 48px;
  color: rgb(119, 121, 140);
  background-color: inherit;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.input-group__searcharbox {
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--primary-color);
  background-color: rgb(247, 247, 247);
  white-space: nowrap;
  text-transform: capitalize;
  border-radius: 6px;
  margin: 5px;
}
.input-group {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 5px !important;
}

.banner-container {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__title-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  position: relative;
  z-index: 2;
}

.header__form-container {
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
}

input[type="search" i] {
  appearance: searchfield;
  box-sizing: border-box;
  padding: 1px 2px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .banner-container {
    height: 100vh;
    bottom: 12rem;
  }
}

@media screen and (min-width: 767px) {
  .header__heading {
    font-size: 30px;
  }
  .header__substitle {
    font-size: 19px;
    margin-bottom: 60px;
    display: block;
  }
  .header__form-container {
    display: block;
  }
}

@media screen and (min-width: 991px) {
  .header__heading {
    font-size: 45px;
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .header__backgroundimg {
    background-position: inherit;
  }
  .header__substitle {
    font-size: 19px;
    margin-bottom: 60px;
    display: block;
  }
}
