.content-section {
  width: calc(100% - 280px);
  height: auto;
  min-height: 100vh;
  padding: 30px 30px 50px;
}
.product-list-style {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  position: relative;
  z-index: 1;
  margin: 0px -15px;
}
@media (max-width: 768px) {
  .product-list-style {
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-top: 15px;
  }
  .content-section {
    padding-top: 15px;
    min-height: auto;
  }
}
@media (max-width: 990px) {
  .content-section {
    width: 100%;
  }
}
