.product-list-style__products-column {
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  flex: 0 0 20%;
  transition: transform 450ms;
}

.product-list-style__products-column:hover {
  transform: scale(1.08);
}
.product-list-style__products-card-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: inherit;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 3px 9px 12px 5px #0000001c;
}
.product-list-style__products-card-wrapper > div {
  height: 100%;
}
.product-list-style__book-card-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: inherit;
  cursor: pointer;
  border-radius: 6px;
}
.product-list-style__book-image-wrapper {
  height: 240px;
  position: relative;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 5px;
}
.product-list-style__book-image {
  max-width: 187px;
  max-height: 238px;
  display: inline-block;
  position: relative;
}
.product-list-style__book-info-wrapper {
  padding: 20px 25px 30px;
}
.product-list-style__product-weight {
  font-family: Lato, sans-serif;
  font-size: 13px !important; /*override material-ui*/
  font-weight: 400 !important; /*override material-ui*/
  color: rgb(119, 121, 140);
}

.product-list-style__product-name {
  color: rgb(13, 17, 54);
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-list-style__show-discount {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 24px;
  background-color: rgb(255, 173, 94);
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 12px;
}

.product-list-style__product-meta {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.product-list-style__product-price-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-list-style__product-discount-price::before {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: rgb(255, 179, 105);
  position: absolute;
  top: 50%;
  left: 0px;
}
.product-list-style__product-discount-price {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 179, 105);
  position: absolute;
  top: -20px;
  left: -4px;
  padding: 0px 5px;
  overflow: hidden;
}
.product-list-style__product-price {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-color);
}
.product-list-style__add-to-cart-button {
  height: 36px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
  border-image: initial;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  color: var(--primary-color);
  outline: none;
}
.productModal__cartIcon {
  margin-top: 21px;
}

.product-list-style__add-to-cart-button:hover {
  color: rgb(255, 255, 255) !important;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.add-to-cart-button__btntext {
  font-size: 13px;
  font-weight: 700;
}
.product-list-style__carticon {
  right: 6px;
  font-size: 14px;
  position: relative;
}

.product-image-carosuel {
  height: 100%;
  width: 100%;
}
@media (min-width: 1501px) {
  .product-list-style__products-column {
    border-radius: 6px 0px 0px 6px;
  }
}
@media (max-width: 1300px) and (min-width: 768px) {
  .product-list-style__products-column {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }
}
@media (max-width: 1500px) and (min-width: 1301px) {
  .product-list-style__products-column {
    max-width: 25%;
    flex: 0 0 25%;
  }
}
@media (max-width: 767px) {
  .product-list-style__book-card-wrapper {
    padding: 15px;
  }
  .product-list-style__products-column {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .product-list-style__book-image-wrapper {
    height: 215px;
  }
}
@media (max-width: 360px) {
  .product-list-style__add-to-cart-button {
    margin-top: 10px;
    height: auto !important;
  }

  .product-list-style__product-meta {
    justify-content: center !important;
  }
}

.product-Modal-style__product-discount-price {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 179, 105);
  text-decoration-line: line-through;
  /* position: absolute; */
  /* top: -20px; */
  /* left: -4px; */
  padding: 0px 5px;
  overflow: hidden;
}

.product-Modal-style__product-price {
  font-family: Lato, sans-serif;
  font-size: 15px !important; /*override material-ui*/
  font-weight: 700 !important; /*override material-ui*/
  color: var(--primary-color);
}
