.label {
  width: 100% !important;
  font-size: 1rem !important;
}

.card-input-element + .card {
  color: var(--success);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  border: 2px solid rgb(0, 158, 127, 0.5) !important;
  -webkit-transition: border 0.3s !important;
  -o-transition: border 0.3s !important;
  transition: border 0.3s !important;
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.card-min-height {
  min-height: 6rem !important;
}

.button-edit {
  background-color: var(--primary-color) !important;
  border-radius: 50% !important;
  color: white !important;
}

.button-delete {
  background-color: tomato !important;
  border-radius: 50% !important;
  color: white !important;
}

.contact-card__action-button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 50%;
  overflow: hidden;
  outline: 0px;
  padding: 0px;
}

.card-title {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.2;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.card-content {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 69, 97);
}
.action-buttonGroup {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.contactCard-container__label {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: rgb(13, 17, 54);
  line-height: 24px;
  cursor: pointer;
  width: 100%;
  transition: all 0.25s ease 0s;
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  .contactCard__container {
    display: inline-flex;
    width: calc(50% - 20px);
  }
  .contactCard-container__label {
    flex: 1 1 calc(50%-10px);
    max-width: calc(50%-10px);
    transition: all 0.25s ease 0s;
  }
}

@media screen and (min-width: 701px) {
  .contactCard__container {
    display: inline-flex;
    padding-left: 1rem;
    width: calc(33.33% - 20px);
  }
  .contactCard-container__label {
    flex: 1 1 calc(33.33%-10px);
    max-width: calc(33.33%-10px);
    transition: all 0.25s ease 0s;
  }
}
