.sidebar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 2px solid #d3d3d36b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 1px;
}
.sidebar__upperSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px;
}

.sidebar__upperSection--item {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(13, 17, 54);
  transition: color 0.35s ease 0s;
  padding: 15px 60px;
  cursor: pointer;
}

.sidebar__upperSection--item:hover,
.sidebar__lowerSection--item:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.sidebar__lowerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px;
  background-color: rgb(247, 247, 247);
}

.sidebar__lowerSection--item {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(13, 17, 54);
  transition: color 0.35s ease 0s;
  padding: 15px 60px;
  cursor: pointer;
}

.sidebar__activeItem {
  border-left: 5px solid var(--primary-color);
  color: var(--primary-color);
}
.sidebar-btn {
  display: none;
}
@media (max-width: 989px) {
  .sidebar-btn {
    position: absolute !important;
    display: flex !important;
    right: 0rem;
    top: 4rem;
    justify-content: flex-end;
  }
  .popover-card {
    position: absolute;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2rem;
    box-shadow: 1px 1px 7px 4px #adabab;
    z-index: 999;
    background-color: white;
    border-radius: 20px;
  }
  .sidebar-popover__icon {
    cursor: pointer;
    font-size: 2rem !important;
    z-index: 999;
  }
  .popover-card__link {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
  }
  .popover-card__link:hover {
    color: var(--primary-color) !important;
    text-decoration: none !important;
  }
  .popover-card__activeLink {
    color: var(--primary-color);
  }
}
