.order-card-container {
  margin-right: 20px;
  border: 2px solid var(--primary-color);
  background-color: rgb(247, 247, 247);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex-shrink: 0;
  max-width: 330px !important;
  max-height: 205px;
}
.order-card-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.order-card-status {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(46, 112, 250);
  line-height: 1;
  background-color: rgba(46, 112, 250, 0.1);
  padding: 10px;
  border-radius: 6px;
}
.order-card-body__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.order-card-body__container {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
