.order-detail-wrapper {
  width: 100%;
  display: flex;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
}
.order-detail__delivery-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(241, 241, 241);
  padding: 20px;
}
.order-detail__delivery-address > h4 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.order-detail__charges-detail {
  width: 235px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
}
.charges-detail-wrapper {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.charges-detail-wrapper__total-amount {
  font-weight: 600;
}
