.infoForm__save-button:hover {
  color: var(--primary-color) !important;
  background-color: white !important;
  align-self: baseline !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0, 158, 127, 0.5) !important;
}

.text-button {
  cursor: pointer;
}

.profile__contactInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.profile-container {
  border: 2px solid #d3d3d36b;
}
.profile__paymentOptions__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paymentOptions__actions__addButton {
  display: flex;
  align-items: center;
}

.profile__sidebar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px;
}
.profile__sidebar__upperSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px;
}

.profile__sidebar__upperSection--item {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  transition: color 0.35s ease 0s;
  padding: 15px 60px;
  cursor: pointer;
}

.profile__sidebar__upperSection--item:hover,
.profile__sidebar__lowerSection--item:hover > h6 {
  color: var(--primary-color);
}

.profile__sidebar__lowerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px;
  background-color: rgb(247, 247, 247);
}

.profile__sidebar__lowerSection--item {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  transition: color 0.35s ease 0s;
  padding: 15px 60px;
  cursor: pointer;
}

.profile__sidebar__activeItem {
  border-left: 5px solid var(--primary-color);
  color: var(--primary-color);
}

.personalInfoForm__row {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 481px) {
  .profile__cardWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 0.25s ease 0s;
  }
}
