.simple-modal__close-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  z-index: 9999999;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 200px;
}
.simple-modal__wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.simple-modal__holder-wrapper {
  max-height: 662px;
  width: 458px;
  height: auto;
  position: absolute;
  top: 23px;
  opacity: 1;
  transform: scale3d(1, 1, 1);
  padding: 0px;
  overflow: auto;
  border-radius: 3px 3px 0px 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  z-index: 999;
}

.simple-modal__holder {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.simple-modal__auth-form {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.simple-modal__auth-form-container {
  padding: 40px 60px 0px;
}
.simple-modal__auth-form-footer {
  background-color: rgb(247, 247, 247);
  color: var(--primary-color);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.auth-form-container__heading {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: var(--primary-color);
}
.auth-form-container__Subheading {
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  display: block;
}
.input-form__emailField {
  display: block;
  width: 100%;
  appearance: none;
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: inherit;
  color: rgb(13, 17, 54);
  height: 48px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 10px;
  padding: 0px 18px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(241, 241, 241);
  border-radius: 6px;
  transition: all 0.25s ease 0s;
}

.input-form__passwordField {
  display: block;
  width: 100%;
  appearance: none;
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: inherit;
  color: rgb(13, 17, 54);
  height: 48px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 10px;
  padding: 0px 18px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(241, 241, 241);
  border-radius: 6px;
  transition: all 0.25s ease 0s;
}

.input-form__continuebtn {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  appearance: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background-color: var(--primary-color);
  height: 48px;
  padding-left: 30px;
  width: 100%;
  padding-right: 30px;
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.input-form__continuebtn:disabled {
  cursor: not-allowed !important;
  color: rgb(255, 255, 255);
  background-color: rgb(115 121 120) !important;
}
.auth-form-container___divider {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 15px 0px;
}
.auth-form-container___divider > span {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(13, 17, 54);
  line-height: 1;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
  padding: 0px 10px;
}
.auth-form-container___divider::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(241, 241, 241);
  position: absolute;
  top: 50%;
  box-sizing: border-box;
}
.input-form__SignupText {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin: 0px;
  padding: 20px 0px;
}
.input-form__Signupbtn {
  background-color: transparent;
  box-shadow: none;
  font-size: calc(14px);
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  padding: 0px;
  text-decoration: underline;
}
.input-form__Signupbtn:hover {
  color: var(--primary-color);
}
.error {
  display: flex;
  position: relative;
  top: -5px;
  color: red;
}
@media (max-width: 768px) {
  .simple-modal__auth-form-container {
    padding: 40px 50px 0px;
  }
}
@media (max-width: 468px) {
  .simple-modal__auth-form {
    width: 22rem;
  }
  .simple-modal__holder-wrapper {
    width: auto;
  }
  .input-form__continuebtn {
    font-size: 12px;
  }
}
