.order-wrapper {
  border: 2px solid #d3d3d36b;
  /* max-width: 330px !important; */
  height: auto;
}
.order-list___wrapper {
  width: 100%;
  padding: 0px 20px 20px;
  margin: 0;
  max-height: 580px;
  min-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}
.order-list__no-order-available {
  align-items: center;
  justify-content: center;
  display: flex;
}
