.navbar-popover-content {
  position: absolute;
  top: 0;
  right: 21px;
  top: calc(100% + 15px);
  display: block;
  min-width: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(142, 142, 142, 0.14) 0px 3px 20px;
  z-index: 99;
  padding: 20px 0px;
  border-radius: 6px;
}

.navbar-popover-content::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: -8px;
  left: auto;
  right: 15px;
  box-shadow: rgba(142, 142, 142, 0.14) -4px -4px 8px -3px;
  pointer-events: none;
  border-style: solid;
  border-width: 0px 8px 9px;
  border-color: transparent transparent rgb(255, 255, 255);
}
.popover-content__menu-item {
  padding: 13px;
}

.popover-content__menu-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  line-height: 1.2em;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 45px;
  transition: all 0.15s ease-in-out 0s;
}
.popover-content__menu-item > a:hover {
  text-decoration: none;
  color: #000;
}
