.cart-list-popup {
  width: 420px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  display: block;
  right: 0;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  transition: all 1.35s cubic-bezier(0.4, 0, 1, 1) 1s;
}
.cart-list-popup__body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-sizing: content-box;
  border-radius: 6px;
}
.cart-list-popup__header {
  background-color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 15px 25px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.cart-list-popup__show-item-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 0px;
  max-height: 100vh;
}
.cart-list-popup__show-item-body {
  position: relative;
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  min-height: 17px;
  max-height: calc(100vh + 17px);
  margin-left: 0px;
}
.cart-list-popup__checkout-btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.cart-list-popup__checkout-btn {
  outline: none;
  height: 48px;
  width: calc(100% - 30px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 0px;
  border-radius: 48px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.cart-list-popup__checkout-btn-title {
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
}
.cart-list-popup__checkout-btn-title:hover {
  text-decoration: none;
  color: white;
}
.cart-list-popup__price-box {
  width: 111px;
  height: 44px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: var(--primary-color);
  margin-right: 2px;
  padding: 0px 9px;
  overflow: hidden;
  border-radius: 28px;
}
.cart-list-popup__item-count {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--primary-color);
}
.cart-list-popup__close-btn {
  width: 14px;
  height: 14px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  transition: all 1 ease 1s;
}
.cart-list-popup__close-btn > i {
  font-size: 20px;
  color: var(--primary-color);
}
.item-wrapper {
  max-height: calc(100vh - 245px);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}
.item-wrapper__no-product-img-wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 14rem;
  flex-direction: column;
}
.item-wrapper__no-product-img {
  width: 200px;
  height: 200px;
}
.item-wrapper__no-item {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(119, 121, 140);
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0px;
}
@media (max-width: 767px) and (min-width: 200px) {
  .cart-list-popup {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7) !important;
    box-sizing: border-box;
  }
  .cart-list-popup__body {
    transform-origin: center bottom;
    max-width: none !important;
    width: 100% !important;
    bottom: 0px !important;
    left: 0px !important;
    background: rgb(255, 255, 255);
    overflow: initial !important;
    padding: 0px;
    height: 70%;
    position: absolute;
    border-radius: 3px 3px 0px 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  .cart-list-popup__header {
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid rgb(241, 241, 241);
    -webkit-box-pack: center;
    justify-content: center;
  }
  .cart-list-popup__item-count {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--primary-color);
  }
  .cart-list-popup__close-btn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    position: absolute;
    top: -45px;
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    transition: all 1s ease 1s;
  }
  .cart-list-popup__close-btn > i {
    font-size: 20px;
    color: var(--primary-color);
  }
  .cart-list-popup__show-item-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 0px;
    max-height: 330px;
  }
  .cart-list-popup__show-item-body {
    position: relative;
    overflow: scroll;
    margin-right: -17px;
    margin-bottom: -17px;
    min-height: 17px;
    max-height: 347px;
    margin-left: 0px;
  }
  .item-wrapper {
    width: 100%;
    height: auto;
  }
  .item-wrapper__no-product-img-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .item-wrapper__no-product-img {
    width: 150px;
    height: 150px;
  }
  .item-wrapper__no-item {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(119, 121, 140);
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
  }
}
