.cart-item__header {
  font-size: 15px;
  font-weight: 700;
  padding: 15px 25px;
  border-bottom: 1px solid rgb(247, 247, 247);
  display: flex;
  align-items: center;
}

.cart-item__counter {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  border-radius: 200px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 30px;
  height: 90px;
  flex-direction: column-reverse;
  background-color: rgb(247, 247, 247);
  color: rgb(13, 17, 54);
}

.cart-item__add-quantity {
  border: none;
  background-color: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: rgb(119, 121, 140);
}
.cart-item__product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0px 15px;
}

.cart-item__info-section {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.cart-item__product-name {
  color: rgb(13, 17, 54);
  margin-bottom: 0px;
  line-height: 1.5;
}
.cart-item__product-price {
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-item__product-original-price {
  color: rgb(13, 17, 54);
  margin-left: auto;
  justify-content: flex-end;
  display: flex;
  flex: auto;
}
.cart-item__product-quantity {
  font-size: 13px !important; /*materialui-override*/
  font-weight: 400 !important; /*materialui-override*/
  color: rgb(119, 121, 140);
  margin-bottom: 5px;
}

.cart-item__remove-product {
  padding: 5px;
  border: 0px;
  outline: 0px;
  margin-left: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease 0s;
  background-color: transparent;
}
