.cartButton {
  outline: none;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -46px;
  z-index: 99;
  padding: 0px;
  border-radius: 6px 0px 0px 6px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}
.cartButton__cartItem {
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 15px 10px;
}
.cartButton__cartItemPrice {
  width: auto;
  height: 35px;
  min-width: 80px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: var(--primary-color);
  overflow: hidden;
  border-radius: 6px;
  margin: 0px 10px 10px;
}
.cartButton__cartIcon {
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .cartButton {
    outline: none;
    width: calc(100% - 60px);
    top: auto;
    height: 45px;
    bottom: 30px;
    right: 30px;
    padding: 2px 2px 2px 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 21px 36px;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    border-radius: 60px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
  }
  .cartButton__cartItemPrice {
    width: 97px;
    padding: 20px;
    margin-left: auto;
    margin-right: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-color);
    overflow: hidden;
    border-radius: 28px;
    position: relative;
    top: 5px;
  }

  .cartButton__cartItem {
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 10px;
    position: absolute;
    left: 19px;
  }
}
